<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="context">


        <form action="#" th:action="@{/save-address-customer}" th:object="${addressCustomer}" method="post">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"  id="name" th:field="*{name}" aria-describedby="helpId" placeholder="Name">
            </div>


            <div class="form-group">
                <label for="age">Age</label>
                <input type="number"
                       class="form-control"  id="age" th:field="*{age}" aria-describedby="helpId" placeholder="Age">
            </div>


            <div class="form-group">
                <label for="streetName">Street Name</label>
                <input type="text"
                       class="form-control"  id="streetName" th:field="*{streetName}" aria-describedby="helpId" placeholder="StreetName">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text"
                       class="form-control"  id="city" th:field="*{city}" aria-describedby="helpId" placeholder="City">
            </div>


            <div class="form-group">
                <label for="zipCode">ZipCode</label>
                <input type="text"
                       class="form-control"  id="zipCode" th:field="*{zipCode}" aria-describedby="helpId" placeholder="ZipCode">
            </div>


            <input type="submit" value="Submit" class="btn btn-primary">



        </form>

    </div>

</body>
</html>